
body {
    height: 100vh;
    width: 100vw;
    background-image: url(world.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: white;
    font-size: 72px;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

span {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: white;
    font-size: 12px;
   
}

.date {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.missioni {
    color: white;
    margin: 5px;
    width: 130px;
}

.hide {
    display: none;    
}

.quest {
    margin: 5px;
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    
}

.pergamena {
    background-image: url(PERGAMENA.png);
    background-size: cover;
    height: 225px;
    width: 165px;
    /* background-color: red; */
}

.quest-text { 
    padding: 6px;
    font-size: 12px;
    text-align: left;
    color: black;
}

.quest-title {
    font-weight: bold;
    text-align: center;
}

.hide p {
    margin: 5px;
    
}

.quest:hover + .hide {
    display: block;
}

.github {
    height: 35px;
    width: 35px;
    background-image: url(github2.png);
    background-size: cover;
    position: absolute;
    top: 15px;
    left: 15px;
    border: 0.1px solid white;
    margin: 5px;    
}

.linkedin {
    height: 35px;
    width: 35px;
    background-image: url(linkedin.png);
    background-size: cover;
    position: absolute;
    top: 15px;
    left: 60px;
    border: 0.1px solid white;
    margin: 5px;    
}

.discord {
    height: 35px;
    width: 35px;
    background-image: url(discord.png);
    background-size: cover;
    position: absolute;
    top: 15px;
    left: 105px;
    border: 0.1px solid white;
    margin: 5px;    
}
